:root {
  --white: #fff;
  --transparent-black: rgba(0, 0, 0, 0.5);
  --blue: #241e49;
  --yellow: #ffc600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  padding: 20px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: var(--white);
  background-color: var(--blue);
}

h1 {
  height: 50px;
}

a {
  text-decoration: none;
  color: var(--white);
}

span {
  color: var(--yellow);
}

header p:nth-child(3) {
  margin-bottom: 25px;
}

h3 {
  color: var(--yellow);
}

main {
  margin: 20px 0px;
}

.challengesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.challenge {
  margin: 10px;
  width: 250px;
  height: 300px;
  border-radius: 20px;
  background-color: var(--transparent-black);
  overflow: hidden;
}

.challenge img {
  width: 250px;
  height: 160px;
  object-fit: cover;
}

.challengeInfo {
  display: grid;
  align-items: center;
  height: 130px;
  padding: 10px;
}

.challengeInfo p {
  margin: 10px;
}

.challengeLinks a {
  display: inline-block;
  width: 80px;
  height: 30px;
  margin: 10px 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--yellow);
}
