* {
  box-sizing: border-box;
}

body {
  display: grid;
  justify-items: center;
  width: 100%;
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: lemonchiffon;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-top: 30px;
}

main > div {
  flex: 0.4 1 300px;
  padding: 5px 10px;
  border: 3px solid black;
  width: 100%;
  max-width: 300px;
}

h4,
p {
  margin: 0.5rem 0;
}

footer {
  display: grid;
  justify-content: center;
  width: 100%;
  max-width: 620px;
  margin-top: 30px;
  padding: 5px 10px;
  border: 3px solid black;
  text-align: start;
}

footer h4 {
  color: red;
}

footer ol {
  margin: 5px 0px;
  padding-inline-start: 20px;
}
li {
  line-height: 1.5rem;
}

li a {
  color: lightseagreen;
  text-decoration: none;
}

li img {
  width: 100%;
}
