html {
  font-size: 10px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #87cefa;
  display: flex;
  min-height: 100vh;
  align-items: center;

  background-image: radial-gradient(
      circle at 100% 150%,
      #87cefa 24%,
      #a2d7f8 25%,
      #a2d7f8 28%,
      #87cefa 29%,
      #87cefa 36%,
      #a2d7f8 36%,
      #a2d7f8 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 0 150%,
      #87cefa 24%,
      #a2d7f8 25%,
      #a2d7f8 28%,
      #87cefa 29%,
      #87cefa 36%,
      #a2d7f8 36%,
      #a2d7f8 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 50% 100%,
      #a2d7f8 10%,
      #87cefa 11%,
      #87cefa 23%,
      #a2d7f8 24%,
      #a2d7f8 30%,
      #87cefa 31%,
      #87cefa 43%,
      #a2d7f8 44%,
      #a2d7f8 50%,
      #87cefa 51%,
      #87cefa 63%,
      #a2d7f8 64%,
      #a2d7f8 71%,
      transparent 71%,
      transparent
    ),
    radial-gradient(
      circle at 100% 50%,
      #a2d7f8 5%,
      #87cefa 6%,
      #87cefa 15%,
      #a2d7f8 16%,
      #a2d7f8 20%,
      #87cefa 21%,
      #87cefa 30%,
      #a2d7f8 31%,
      #a2d7f8 35%,
      #87cefa 36%,
      #87cefa 45%,
      #a2d7f8 46%,
      #a2d7f8 49%,
      transparent 50%,
      transparent
    ),
    radial-gradient(
      circle at 0 50%,
      #a2d7f8 5%,
      #87cefa 6%,
      #87cefa 15%,
      #a2d7f8 16%,
      #a2d7f8 20%,
      #87cefa 21%,
      #87cefa 30%,
      #a2d7f8 31%,
      #a2d7f8 35%,
      #87cefa 36%,
      #87cefa 45%,
      #a2d7f8 46%,
      #a2d7f8 49%,
      transparent 50%,
      transparent
    );
  background-size: 100px 50px;
}

.voiceinator {
  padding: 2rem;
  width: 50rem;
  margin: 0 auto;
  border-radius: 1rem;
  position: relative;
  background: white;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  width: calc(100% + 4rem);
  margin: -2rem 0 2rem -2rem;
  padding: 0.5rem;
  background: #d87093;
  border-bottom: 5px solid #d87093;
  text-align: center;
  font-size: 5rem;
  font-weight: 100;
  font-family: "Pacifico", cursive;
  text-shadow: 3px 3px 0 #df83a2;
}

.voiceinator input,
.voiceinator button,
.voiceinator select,
.voiceinator textarea {
  width: 100%;
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 0;
  font-size: 2rem;
  background: #f7f7f7;
  outline: 0;
}

textarea {
  height: 20rem;
}

.voiceinator button {
  background: #d87093;
  border: 0;
  width: 49%;
  float: left;
  font-family: "Pacifico", cursive;
  margin-bottom: 0;
  font-size: 2rem;
  border-bottom: 5px solid #d87093;
  cursor: pointer;
  position: relative;
}

.voiceinator button:active {
  top: 2px;
}

.voiceinator button:nth-of-type(1) {
  margin-right: 2%;
}
